<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Clientes</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <style>
        body {
            
        }

        .bg {
            background-color: #496499;
        }
        .dropdown:hover .dropdown-menu{
            display: block;
        }
        .dropdown-menu{
            margin-top: 0;
        }

        .menu-nav {
           
                }
    </style>

    <script>
        $(document).ready(function(){
            $(".dropdown").hover(function(){
                var dropdownMenu = $(this).children(".dropdown-menu");
                if(dropdownMenu.is(":visible")){
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });     
        </script>
</head>

<body>
    <div class="container ">
        <!--Nav Bar -->
        <nav class="navbar row bg my-2"> <br>
            <div class="col-9 col-md-10 col-lg-11">
                <a class="navbar-brand h4 text-light" href="#">Bem-vindo(a): {{nome}} {{sobre_nome}}</a>
            </div>
            <div class="col-3  col-md-2 col-lg-1 ">
                <a href="{% url 'logout' %}" class=" btn btn-warning  text-secondary">SAIR</a>
            </div>
        </nav>

       

        <div class="row my-2 bg-secondary">
            <nav class="navbar navbar-expand-lg navbar-light menu-nav">
                  <a class="navbar-brand text-light" href="#">Menu</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
    
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                      
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-light  " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Clientes</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'clientes-cadastro' %}">Cadastrar</a></li>
                              <li><a class="dropdown-item" href="{% url 'clientes-consulta' %}">Consultar</a></li>
                              </li>
                            </ul>
                          </li>
    
                          <li class="nav-item ">
                            <a class="nav-link text-light" href="{% url 'equipamentos' %}">Equipamentos</a>
                          </li>
    
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Orçamento</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#scrollspyHeading3">Novo</a></li>
                              <li><a class="dropdown-item" href="#scrollspyHeading4">Em Análise</a></li>
                              <li><a class="dropdown-item" href="#scrollspyHeading4">Aprovados</a></li>
                              </li>
                              </li>
                            </ul>
                          </li>
    
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Relatórios</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#scrollspyHeading3">Simples</a></li>
                              <li><a class="dropdown-item" href="#scrollspyHeading4">Completo</a></li>
                              </li>
                              <li><a class="dropdown-item" href="#scrollspyHeading4">Faturamento</a></li>
                              </li>
                              <li><a class="dropdown-item" href="#scrollspyHeading4">Manutenção</a></li>
                              </li>
                            </ul>
                          </li>
                    </ul>
                  </div>
              </nav>
            </div>

        
            <div class="row bg">
                <!-- login -->
                <form method="post" class="mx-2 my-2">
                    {% csrf_token %}
                    <div class="row">
                        <p class="text-warning h6 py-2 ">  Cadastrar Cliente </p>
                        <hr class=" text-light ">
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-11 col-sm-5 ">
                            <label class="form-label text-white ">* CPF ou CNPJ</label>
                            <input type="text" class="form-control" placeholder="CPF ou CNPJ" name="cpf_cnpj" >
                        </div>
                        <div class=" col-11 col-sm-6 ">
                            <label class="form-label text-white ">* Nome Completo</label>
                            <input type="text" class="form-control" placeholder="Nome / Nome Fantasia" name="nome" >
                        </div>
                        <!--Contato e Endereço -->
                        <div class=" col-5 col-sm-5 py-2">
                            <label class="form-label text-white ">* WhatsApp</label>
                            <input type="tel" class="form-control" placeholder="84 9 9999-9999" name="zap" >
                        </div>
                        <div class=" col-6 col-sm-6 py-2">
                            <label class="form-label text-white ">E-mail</label>
                            <input type="email" class="form-control" placeholder="email@email.com" name="email">
                        </div>
                        <div class="col-11 col-sm-5">
                            <label class="form-label text-white ">Endereço</label>
                            <input type="text" class="form-control" placeholder="Logradouro" name="endereco">
                        </div>
                        <div class="col-3 col-sm-2">
                            <label class="form-label text-white ">Número</label>
                            <input type="tel" class="form-control" placeholder="Nº" name="num">
                        </div>
                        <div class="col-8 col-sm-4">
                            <label class="form-label text-white ">Bairro</label>
                            <input type="text" class="form-control" placeholder="Ex: Lagoa Nova" name="bairro">
                        </div>
                        <div class="col-7 col-sm-5 py-2">
                            <label class="form-label text-white ">Cidade</label>
                            <input type="text" class="form-control" placeholder="Ex: Natal" name="cidade">
                        </div>
                        <div class="col-4 col-sm-2 py-2">
                            <label class="form-label text-white ">Estado</label>
                            <select class="form-select" aria-label="Default select example" name="estado">
                                <option selected>RN</option>
                                <option value="PB">PB</option>
                                <option value="CE">CE</option>
                                <option value="PE">PE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-11 py-2">
                        <label class="form-label text-white ">Complemento</label>
                        <textarea class="form-control" placeholder="Informações complementares" rows="2" name="complemento"></textarea>
                    </div>
                    <button type="submit" class="my-4 btn btn-success btn-lg ">
                        Cadastrar
                    </button>
                </form>


            </div>
            <footer class="row text-center text-light bg my-2 py-4">
                <br>
                <h6> LL Solar - Todos os Direitos Reservados - 2022 </h6>
                <br>
            </footer>
        </div>
    </div>


 

</body>

</html>