<div class="row my-2 bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-light menu-nav">
          <a class="navbar-brand text-light" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-light  " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Clientes</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'clientes-cadastro' %}">Cadastrar</a></li>
                      <li><a class="dropdown-item" href="{% url 'clientes-consulta' %}">Consultar</a></li>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item ">
                    <a class="nav-link text-light" href="#">Equipamentos</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Orçamento</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#scrollspyHeading3">Novo</a></li>
                      <li><a class="dropdown-item" href="#scrollspyHeading4">Em Análise</a></li>
                      <li><a class="dropdown-item" href="#scrollspyHeading4">Aprovados</a></li>
                      </li>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Relatórios</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#scrollspyHeading3">Simples</a></li>
                      <li><a class="dropdown-item" href="#scrollspyHeading4">Completo</a></li>
                      </li>
                      <li><a class="dropdown-item" href="#scrollspyHeading4">Faturamento</a></li>
                      </li>
                      <li><a class="dropdown-item" href="#scrollspyHeading4">Manutenção</a></li>
                      </li>
                    </ul>
                  </li>
            </ul>
          </div>
      </nav>
    </div>